<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Classroom Dashboard</title>
    </head>
    <body>
        <h1>Classroom dashboard</h1>
        <h2>Name: <%= classroom.name %></h2>
        <p>Description: <%= classroom.description %></p>
        <p>Classroom ID: <em><%= classroom._id %></em></p>
        <hr>
        <h2>List of assignments</h2>
        <% for(let i=0; i<assignments.length; i++) { %>
            <h3><%= i+1 %>. <%= assignments[i].title %></h3>
            <p>Description: <%= assignments[i].description %></p>
        <% } %>
    </body>
</html>